block vars

doctype html
html(lang="en")
  head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

      // Search Engine Metadata
      title Docs
      meta(name="description", content="")

      // Stylesheets
      link(rel="stylesheet", type="text/css", href="./assets/css/global.css")

  body
    header.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container
        a.navbar-brand(href="./") Docs
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        nav.collapse.navbar-collapse#navbarSupportedContent
          ul.navbar-nav.ml-auto
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown") Git
              .dropdown-menu
                a.dropdown-item(href="./") Remotes
                a.dropdown-item(href="./git-removing-files.html") Removing Files
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown") Python
              .dropdown-menu
                a.dropdown-item(href="./python-pip.html") PIP
                a.dropdown-item(href="./python-django.html") Django
                a.dropdown-item(href="./python-virtualenv.html") virtualenv
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown") Mac
              .dropdown-menu
                a.dropdown-item(href="./mac-hidden-files.html") Hidden Files
            li.nav-item
              a.nav-link(href="./ssh-keys.html") SSH Keys
                
    .jumbotron
      .container.text-center
        h1=h1
        if sub_heading
          p.lead=sub_heading
    
    .container
      main
        block content
            
    footer
    
    script(src="./assets/js/main.js")
