extends _base.pug

block vars
  - var h1="Git"
  - var sub_heading="Remotes"

block content
  h4 Checking Remotes
  pre
    code.language-bash git remote -v

  hr

  h4 Adding a Remote
  p In this example we are adding a 'staging' remote
  pre
    code.language-bash git remote add staging https://git.heroku.com/app-name.git

  hr
    
  h4 Removing a Remote
  p In this example we are removing the 'staging' remote
  pre
    code.language-bash git remote rm staging

  hr

  h4 Renaming a Remote
  p In this example we are renaming the 'origin' remote to 'production'
  pre
    code.language-bash git remote rename origin production

  hr

  h4 Setting push url for Remote
  pre
    code.language-bash git remote set-url --push origin "NO PUSHING ALLOWED"
    
  hr
    
  h4 Setting the remote tracking branch
  p In this example we are setting the 'production' remote for tracking
  pre
    code.language-bash git config branch.master.remote production
