extends _base.pug

block content
    h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    h5 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolorum explicabo ipsa libero nobis pariatur
        ratione sed sunt voluptas voluptatum?