extends _base.pug

block vars
  - var h1="Python"
  - var sub_heading="PIP"

block content
  h4 Install Python packages from requirements file

  pre
    code.language-bash pip install -r reqs/dev.txt
